body{
    background-color: rgb(173, 251, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    margin-bottom: 30px;
    padding: 5px;
    background-color: rgb(197, 163, 228);
    width: 52vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-elements{
    margin: 5px;
    background-color: white;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 5px;
    width: 50vw;
    height: 40px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}
